.project-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: block;
  background-color: var(--color1);
  -ms-overflow-style: none;
  scrollbar-width: 0;
  overflow-y: auto;
}

.project-details::-webkit-scrollbar {
  display: none;
}

.details-container-top {
  width: 80%;
  display: flex;
  position: relative;
  margin-top: calc((var(--innerHeight)/2) - 257px);
  margin-left: auto;
  margin-right: auto;
}

.project-image {
  width: 514px;
  height: 514px;
  margin-left: calc(50% - 257px);
  transition: margin-left 0.5s;
}

.project-image.left {
  margin-left: 0;
}

.project-image.static {
  position: static;
  transform: none;
}

.project-text {
  width: 100%;
  margin-left: 5%;
}

.project-text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: var(--color2);
}

.project-text-content ul {
  list-style: none;
}

.project-text-content li {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid var(--color2);
}

.project-text-content li span {
  text-align: end;
}

.project-text-content li:last-child {
  flex-direction: column;
  gap: 10px;
  padding-bottom: 0;
}

.project-text-content li:last-child span {
  text-align: start;
}

.title {
  font-size: 50px;
}

.specifications {
  font-size: 35px;
  margin-bottom: 30px;
}

.details-container-bottom {
  width: 80%;
  padding-bottom: 50px;
  color: var(--color2);
  opacity: 0;
  margin: 50px auto 0 auto;
}

.details-container-bottom-pictures {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.details-container-bottom-desc-one {
  margin: 50px 0;
  line-height: 25px;
  font-weight: bold;
  text-align: justify;
}

.details-container-bottom-desc-two {
  width: calc(50% - 10px);
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  line-height: 25px;
  font-weight: bold;
  text-align: justify;
}

.project-image-main {
  width: 100%;
  height: 514px;
  object-fit: cover;
}

.project-image-bottom {
  width: calc(50% - 10px);
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 30px;
  height: 30px;
  opacity: 0.7;
  cursor: pointer;
}

.close-button:hover {
  opacity: 1;
}

.close-button:before,
.close-button:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: ' ';
  height: 30px;
  width: 2px;
  background-color: var(--color2);
}

.close-button:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media only screen and (max-width: 1024px) {

  .project-details {
    display: block;
  }

  .details-container-top {
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    transition: all 0.5s;
  }

  .move-to-top {
    margin-top: calc((var(--innerHeight)/3.5) - 257px);
  }

  .move-to-bottom {
    margin-top: calc((var(--innerHeight)/2) - 257px);
  }

  .project-image {
    width: 514px;
    height: auto;
    position: static;
    top: auto;
    transform: none;
  }

  .project-image.center,
  .project-image.left {
    left: auto;
  }

  .project-text {
    width: 80%;
    height: auto;
    margin-left: 0;
    display: block;
    margin-top: 40px;
  }

  .project-text-content {
    height: auto;
  }

  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .specifications {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .project-text-content li {
    align-items: flex-start;
    padding: 15px 0;
    gap: 10px;
  }

  .project-text-content li span {
    max-width: 100%;
    text-align: start;

  }

  .details-container-bottom {
    position: static;
    margin: 50px auto 0 auto;
  }

  .details-container-bottom-pictures {
    flex-direction: column;
    align-items: center;
  }

  .project-image-main {
    width: 100%;
    height: auto;
  }

  .project-image-bottom {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .details-container-bottom-desc-one,
  .details-container-bottom-desc-two {
    margin: 20px auto;
    width: 100%;
  }

}

@media only screen and (max-width: 768px) {

  .project-details {
    display: block;
  }

  .details-container-top {
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    transition: all 0.5s;
  }

  .move-to-top {
    margin-top: calc((var(--innerHeight)/3.5) - 125px);
  }

  .move-to-bottom {
    margin-top: calc((var(--innerHeight)/2) - 125px);
  }

  .project-image {
    width: 250px;
    height: auto;
    position: static;
    top: auto;
    transform: none;
  }

  .project-image.center,
  .project-image.left {
    left: auto;
  }

  .project-text {
    width: 80%;
    height: auto;
    margin-left: 0;
    display: block;
    margin-top: 40px;
  }

  .project-text-content {
    height: auto;
  }

  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .specifications {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .project-text-content li {
    align-items: flex-start;
    padding: 15px 0;
    gap: 10px;
  }

  .project-text-content li:last-child {
    flex-direction: column;
  }

  .project-text-content li span {
    max-width: 100%;
    text-align: start;

  }

  .details-container-bottom {
    position: static;
    margin: 50px auto 0 auto;
  }

  .details-container-bottom-pictures {
    flex-direction: column;
    align-items: center;
  }

  .project-image-main {
    width: 100%;
    height: auto;
  }

  .project-image-bottom {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .details-container-bottom-desc-one,
  .details-container-bottom-desc-two {
    margin: 20px auto;
    width: 100%;
  }

}