.aboutme-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: block;
    background-color: var(--color1);
    -ms-overflow-style: none;
    scrollbar-width: 0;
    overflow-y: auto;
  }
  
  a{
    color: var(--color2);
  }
  
  .aboutme-container::-webkit-scrollbar {
    display: none;
  }
  
  .aboutme-details {
    width: 80%;
    display: flex;
    position: relative;
    margin-top: calc((var(--innerHeight)/2) - 257px);
    margin-left: auto;
    margin-right: auto;
  }
  
  .aboutme-image {
    width: 514px;
    height: 514px;
    margin-left: calc(50% - 257px);
    transition: margin-left 0.5s;
  }
  
  .aboutme-image.left {
    margin-left: 0;
  }
  
  .aboutme-image.static {
    position: static;
    transform: none;
  }
  
  .aboutme-text {
    width: 100%;
    margin-left: 5%;
  }
  
  .aboutme-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    color: var(--color2);
  }
  
  .aboutme-text-content ul {
    list-style: none;
  }
  
  .aboutme-text-content li {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid var(--color2);
  }
  
  .aboutme-text-content li span:last-child {
    text-align: end;
  }
  
  
  
  .aboutme-text-content li:last-child{
    gap: 10px;
  }
  
  
  .title {
    font-size: 50px;
  }
  
  .specifications {
    font-size: 35px;
    margin-bottom: 30px;
  }
  
  .aboutme-image-main {
    width: 100%;
    height: 514px;
    object-fit: cover;
  }
  
  .aboutme-image-bottom {
    width: calc(50% - 10px);
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 30px;
    height: 30px;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1000;
  }
  
  .close-button:hover {
    opacity: 1;
  }
  
  .close-button:before,
  .close-button:after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: ' ';
    height: 30px;
    width: 2px;
    background-color: var(--color2);
  }
  
  .close-button:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .close-button:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  @media only screen and (max-width: 1024px) {
  
    .aboutme-container {
      display: block;
    }
  
    .aboutme-details {
      flex-direction: column;
      align-items: center;
      min-width: 100%;
      transition: all 0.5s;
    }
  
    .move-to-top {
      margin-top: calc((var(--innerHeight)/3.5) - 257px);
    }
  
    .move-to-bottom {
      margin-top: calc((var(--innerHeight)/2) - 257px);
    }
  
    .aboutme-image {
      width: 514px;
      height: auto;
      position: static;
      top: auto;
      transform: none;
    }
  
    .aboutme-image.center,
    .aboutme-image.left {
      left: auto;
      margin-left: 0;
    }
  
    .aboutme-text {
      width: 80%;
      height: auto;
      margin-left: 0;
      display: block;
      margin-top: 40px;
    }
  
    .aboutme-text-content {
      height: auto;
    }
  
    .title {
      font-size: 30px;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .specifications {
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    .aboutme-text-content li {
      align-items: flex-start;
      padding: 15px 0;
      gap: 10px;
    }
  
    .aboutme-text-content li span {
      max-width: 100%;
    }

    .aboutme-text-content li span:first-child{
      text-align: start;
    }
  }
  
  @media only screen and (max-width: 768px) {
  
    .aboutme-container {
      display: block;
    }
  
    .aboutme-details{
      flex-direction: column;
      align-items: center;
      min-width: 100%;
      transition: all 0.5s;
    }
  
    .move-to-top {
      margin-top: calc((var(--innerHeight)/3.5) - 125px);
    }
  
    .move-to-bottom {
      margin-top: calc((var(--innerHeight)/2) - 125px);
    }
  
    .aboutme-image {
      width: 250px;
      height: auto;
      position: static;
      top: auto;
      transform: none;
    }
  
    .aboutme-image.center,
    .aboutme-image.left {
      left: auto;
    }
  
    .aboutme-text {
      width: 80%;
      height: auto;
      margin-left: 0;
      display: block;
      margin-top: 40px;
    }
  
    .aboutme-text-content {
      height: auto;
    }
  
    .title {
      font-size: 30px;
      margin-bottom: 20px;
    }
  
    .specifications {
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    .aboutme-text-content li {
      align-items: center;
      padding: 15px 0;
      gap: 10px;
    }
  
    .aboutme-text-content li span {
      max-width: 100%;
    }
  
    .aboutme-image-main {
      width: 100%;
      height: auto;
    }
  
    .aboutme-image-bottom {
      width: 100% !important;
      margin-bottom: 20px;
    }
  }